extends layout.pug 

block content 
  h1(class="py-3") 메인 페이지
  if list 
    table(class="table") 
      tr 
        th 글 제목
        //- th 글 내용
        th 글 날짜
      each writing in list 
        tr 
          td
            a(href=`/detail/${writing.id}`, class="text-decoration-none")= writing.title 
          //- td= writing.contents 
          td= `${writing.date.getFullYear()}.${String(writing.date.getMonth()).padStart(2, '0')}.${String(writing.date.getDate()).padStart(2, '0')}`
  else 
    p 작성된 글이 없습니다.