extends layout.pug

block content 
  h1 글 작성 페이지입니다.
  form(action="/write", method="post") 
    label(for="title") 제목
    input(type="text", id="title", name="title")
    br
    label(for="contents") 내용
    textarea(name="contents", cols="30", rows="10") 
    br
    //- input submit
    input(type="submit", value="글 작성 완료")